/* Common Styles */

button {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* User Card Styles */
.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  padding: 10px 15px;
  margin: 10px !important;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  background-color: lightslategrey;
}

.user-card:hover {
  background-color: #778899d9;
}

/* User Profile Styles */
.user-profile .user-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  padding: 15px;
  border-radius: 5px;
}
.user-profile {
  border: 1px solid;
  padding: 5px;
}

.user-posts {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
}

.post {
  width: calc(33.333% - 20px); /* minus the gap */
  border: 1px solid #eee;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s;
}

.post:hover {
  transform: scale(1.05);
}

/* Post Popup Styles */
.post-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 5px;
}
.grid > div {
  font-size: 30px;
  padding: 0.5em;
  color: #ffffff;
  background: #1c87c9;
  text-align: center;
}
.profileText{
  width: 75%;
  text-align: center;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {
  .user-profile .user-details {
    flex-direction: column;
    text-align: center;
  }

  .user-posts {
    justify-content: center;
  }
  .user-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
  }

  .post {
    width: calc(100% - 10px);
  }
}
